<a href="https://colab.research.google.com/github/torrancefredell/gss_project/blob/main/gss_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font size="5">**GSS PROJECT**</font>

Research question: How does occupational prestige and work-life balance influence marital satisfaction among married individuals in the US?

In [ ]:
! git clone https://github.com/DS3001/project_gss

Cloning into 'project_gss'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (8/8), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 23 (delta 6), reused 1 (delta 1), pack-reused 15
Receiving objects: 100% (23/23), 23.94 MiB | 24.83 MiB/s, done.
Resolving deltas: 100% (6/6), done.

In [54]:
import pandas as pd

var_list = ['wrkstat', 'occ10', 'prestige', 'whatslf2', 'marital', 'divorce', 'martype',
            'sppres10', 'prestg10', 'spocc10', 'hapmar', 'age', 'educ', 'sex', 'income16', 'income', 'prestg105plus'] # List of variables you want to save
output_filename = 'selected_gss_data.csv' # Name of the file you want to save the data to

modes = ['w','a'] # Has write mode and append mode
phase = 0 # Starts in write mode; after one iteration of loop, switches to append mode

for k in range(3): # for each chunk of the data
    url = 'https://github.com/DS3001/project_gss/raw/main/gss_chunk_' + str(1+k) + '.parquet' # Create url to the chunk to be processed
    print(url) # Check the url is correct
    df = pd.read_parquet(url) # Download this chunk of data
    print(df.head()) # Visually inspect the first few rows
    df.loc[:,var_list].to_csv(output_filename, # specifies target file to save the chunk to
                              mode=modes[phase], # control write versus append
                              header=var_list, # variable names
                              index=False) # no row index saved
    phase = 1 # Switch from write mode to append mode

https://github.com/DS3001/project_gss/raw/main/gss_chunk_1.parquet
   year  id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1972   1  working full time   NaN   NaN    NaN  205.0      50.0
1  1972   2            retired   NaN   NaN    yes  441.0      45.0
2  1972   3  working part time   NaN   NaN    NaN  270.0      44.0
3  1972   4  working full time   NaN   NaN    NaN    1.0      57.0
4  1972   5      keeping house   NaN   NaN    yes  385.0      40.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next wtsscomp wtsscompnr
0           NaN          NaN           NaN   0.4446        NaN
1           NaN          NaN           NaN   0.8893        NaN
2           NaN          NaN           NaN   0.8893        NaN
3           NaN          NaN           NaN   0.8893        NaN
4           NaN          NaN           NaN   0.8893        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_2.parquet
   year   id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1989  775            retired   NaN   NaN    yes  540.0      36.0
1  1989  776  working full time  40.0   NaN    NaN  925.0      36.0
2  1989  777            retired   NaN   NaN    yes   80.0      61.0
3  1989  778  working full time  44.0   NaN    NaN  912.0      26.0
4  1989  779            retired   NaN   NaN    yes  690.0      32.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0           NaN          NaN           NaN  1.295069        NaN
1           NaN          NaN           NaN  0.483624        NaN
2           NaN          NaN           NaN  0.407988        NaN
3           NaN          NaN           NaN  1.225988        NaN
4           NaN          NaN           NaN  0.504302        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_3.parquet
   year    id            wrkstat  hrs1  hrs2 evwork  occ  prestige  \
0  2006  1751  working full time  40.0   NaN    NaN  NaN       NaN
1  2006  1752          in school   NaN   NaN    yes  NaN       NaN
2  2006  1753  working full time  35.0   NaN    NaN  NaN       NaN
3  2006  1754  working full time  50.0   NaN    NaN  NaN       NaN
4  2006  1755  working full time  40.0   NaN    NaN  NaN       NaN

         wrkslf     wrkgovt  ...  agehef12 agehef13 agehef14  hompoph  \
0  someone else  government  ...       NaN      NaN      NaN      NaN
1  someone else     private  ...       NaN      NaN      NaN      NaN
2  someone else  government  ...       NaN      NaN      NaN      NaN
3  someone else  government  ...       NaN      NaN      NaN      NaN
4  someone else     private  ...       NaN      NaN      NaN      NaN

  wtssps_nea  wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0        NaN           NaN          NaN           NaN  1.079141   0.961150
1        NaN           NaN          NaN           NaN  7.673834   6.641571
2        NaN           NaN          NaN           NaN  0.584663   0.512145
3        NaN           NaN          NaN           NaN  0.715731   0.637592
4        NaN           NaN          NaN           NaN  1.094831   0.956094

[5 rows x 6694 columns]

In [55]:
df = pd.read_csv('selected_gss_data.csv')
df.head(3)

<ipython-input-55-98be46dfa748>:1: DtypeWarning: Columns (2,7,8,11,12,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('selected_gss_data.csv')

,wrkstat,occ10,prestige,whatslf2,marital,divorce,martype,sppres10,prestg10,spocc10,hapmar,age,educ,sex,income16,income,prestg105plus
0,working full time,"wholesale and retail buyers, except farm products",50.0,NaN,never married,NaN,NaN,NaN,45.0,NaN,NaN,23.0,16.0,female,NaN,NaN,49.0
1,retired,first-line supervisors of production and opera...,45.0,NaN,married,no,NaN,NaN,50.0,NaN,NaN,70.0,10.0,male,NaN,NaN,62.0
2,working part time,real estate brokers and sales agents,44.0,NaN,married,no,NaN,41.0,49.0,"property, real estate, and community associati...",NaN,48.0,12.0,female,NaN,NaN,69.0

In [56]:
df.shape, '\n'

((72392, 17), '\n')

In [57]:
df.dtypes

wrkstat          object
occ10            object
prestige         object
whatslf2         object
marital          object
divorce          object
martype          object
sppres10         object
prestg10         object
spocc10          object
hapmar           object
age              object
educ             object
sex              object
income16         object
income           object
prestg105plus    object
dtype: object

In [58]:
df.rename(columns={"wrkstat": "work_status", "occ10": "occupation", "whatslf2": "workplace_classification", "marital": "marital_status", "martype": "marriage_type", "sppres10": "spouse_prestige", "prestg10": "respondent_prestige", "spocc10": "spouse_occupation", "hapmar": "marriage_happiness"}, inplace = True)

In [59]:
spouse_prestige = df['spouse_prestige']
prestige = df['prestige']
respondent_prestige = df['respondent_prestige']
income16 = df['income16']
income = df['income']
work_status = df['work_status']
occupation = df['occupation']
workplace_classification = df['workplace_classification']
marital_status = df['marital_status']
divorce = df['divorce']
marriage_type = df['marriage_type']
spouse_occupation = df['spouse_occupation']
marriage_happiness = df['marriage_happiness']
age = df['age']
educ = df['educ']
sex = df['sex']
prestg105plus = df['prestg105plus']

In [60]:
missing_sppres10_count = spouse_prestige.isna().sum()
missing_prestige_count = prestige.isna().sum()
missing_prestg10_count = respondent_prestige.isna().sum()
missing_income16_count = income16.isna().sum()
missing_income_count = income.isna().sum()
missing_wrkstat_count = work_status.isna().sum()
missing_occ10_count = occupation.isna().sum()
missing_whatslf2_count = workplace_classification.isna().sum()
missing_marital_count = marital_status.isna().sum()
missing_divorce_count = divorce.isna().sum()
missing_martype_count = marriage_type.isna().sum()
missing_spocc10_count = spouse_occupation.isna().sum()
missing_hapmar_count = marriage_happiness.isna().sum()
missing_age_count = age.isna().sum()
missing_educ_count = educ.isna().sum()
missing_sex_count = sex.isna().sum()
missing_prestg105plus_count = prestg105plus.isna().sum()

In [63]:
row_count = len(df)

percent_sppres10 = (missing_sppres10_count / row_count) * 100
print(percent_sppres10, "% of the spouse_prestige rows are NaN")

percent_prestige = (missing_prestige_count / row_count) * 100
print(percent_prestige, "% of the prestige rows are NaN")

percent_prestg10 = (missing_prestg10_count / row_count) * 100
print(percent_prestg10, "% of the respondent_prestige rows are NaN")

percent_income16 = (missing_income16_count / row_count) * 100
print(percent_income16, "% of the income16 rows are NaN")

percent_income = (missing_income_count / row_count) * 100
print(percent_income, "% of the income rows are NaN")

percent_wrkstat = (missing_wrkstat_count / row_count) * 100
print(percent_wrkstat, "% of the work_status rows are NaN")

percent_occ10 = (missing_occ10_count / row_count) * 100
print(percent_occ10, "% of the occupation rows are NaN")

percent_whatslf2 = (missing_whatslf2_count / row_count) * 100
print(percent_whatslf2, "% of the workplace_classification rows are NaN")

percent_marital = (missing_marital_count / row_count) * 100
print(percent_marital, "% of the marital_status rows are NaN")

percent_divorce = (missing_divorce_count / row_count) * 100
print(percent_divorce, "% of the divorce rows are NaN")

percent_martype = (missing_martype_count / row_count) * 100
print(percent_martype, "% of the marriage_type rows are NaN")

percent_spocc10 = (missing_spocc10_count / row_count) * 100
print(percent_spocc10, "% of the spouse_occupation rows are NaN")

percent_hapmar = (missing_hapmar_count / row_count) * 100
print(percent_hapmar, "% of the marriage_happiness rows are NaN")

percent_age = (missing_age_count / row_count) * 100
print(percent_age, "% of the age rows are NaN")

percent_educ = (missing_educ_count / row_count) * 100
print(percent_educ, "% of the educ rows are NaN")

percent_sex = (missing_sex_count / row_count) * 100
print(percent_sex, "% of the sex rows are NaN")

percent_prestg105plus = (missing_prestg105plus_count / row_count) * 100
print(percent_prestg105plus, "% of the prestg105plus rows are NaN")

51.93805945408333 % of the spouse_prestige rows are NaN
66.47557741186871 % of the prestige rows are NaN
7.102994806055918 % of the respondent_prestige rows are NaN
84.29522599182229 % of the income16 rows are NaN
12.36462592551663 % of the income rows are NaN
0.04972925185103326 % of the work_status rows are NaN
7.097469333628024 % of the occupation rows are NaN
96.97894795004973 % of the workplace_classification rows are NaN
0.07044977345563046 % of the marital_status rows are NaN
39.073378273842415 % of the divorce rows are NaN
92.9881754890043 % of the marriage_type rows are NaN
52.31241021107304 % of the spouse_occupation rows are NaN
53.03210299480605 % of the marriage_happiness rows are NaN
1.0622720742623495 % of the age rows are NaN
0.36329981213393747 % of the educ rows are NaN
0.15471322798099238 % of the sex rows are NaN
17.047463808155598 % of the prestg105plus rows are NaN

Variables to use:
- prestg10 -- respondent's job prestige
- income -- family income
- wkrstat -- work status last week
- occ10 -- respondent's occupation
- marital -- marital status
- age -- respondent's age
- educ -- respondent's education
- sex -- respondent's sex
- POTENTIALLY: spocc10 (respondent's spouse's occupation), sppres10 (respondent's spouse's occupation prestige), hapmar (marriage happiness) -- these have a lot of values missing but are important for our research question nonetheless

In [65]:
df['spouse_prestige'] = pd.to_numeric(df['spouse_prestige'], errors = 'coerce')
df['prestige'] = pd.to_numeric(df['prestige'], errors = 'coerce')
df['respondent_prestige'] = pd.to_numeric(df['respondent_prestige'], errors = 'coerce')
df['age'] = pd.to_numeric(df['age'], errors = 'coerce')
df['educ'] = pd.to_numeric(df['educ'], errors = 'coerce')
df['prestg105plus'] = pd.to_numeric(df['prestg105plus'], errors = 'coerce')

In [66]:
df.dtypes

work_status                  object
occupation                   object
prestige                    float64
workplace_classification     object
marital_status               object
divorce                      object
marriage_type                object
spouse_prestige             float64
respondent_prestige         float64
spouse_occupation            object
marriage_happiness           object
age                         float64
educ                        float64
sex                          object
income16                     object
income                       object
prestg105plus               float64
dtype: object

In [67]:
df.loc[df['work_status'] == 'wrkstat']

,work_status,occupation,prestige,workplace_classification,marital_status,divorce,marriage_type,spouse_prestige,respondent_prestige,spouse_occupation,marriage_happiness,age,educ,sex,income16,income,prestg105plus
24130,wrkstat,occ10,NaN,whatslf2,marital,divorce,martype,NaN,NaN,spocc10,hapmar,NaN,NaN,sex,income16,income,NaN
48261,wrkstat,occ10,NaN,whatslf2,marital,divorce,martype,NaN,NaN,spocc10,hapmar,NaN,NaN,sex,income16,income,NaN

In [68]:
indices_to_drop = df[df['work_status'] == 'wrkstat'].index
df.drop(indices_to_drop, inplace=True)
df['work_status'].value_counts()

working full time                                                             35267
retired                                                                       10886
keeping house                                                                 10764
working part time                                                              7430
unemployed, laid off, looking for work                                         2621
in school                                                                      2187
other                                                                          1643
with a job, but not at work because of temporary illness, vacation, strike     1556
Name: work_status, dtype: int64

In [69]:
df.shape

(72390, 17)

In [70]:
df.loc[df['work_status'] == 'wrkstat']
# Sanity check

Empty DataFrame
Columns: [work_status, occupation, prestige, workplace_classification, marital_status, divorce, marriage_type, spouse_prestige, respondent_prestige, spouse_occupation, marriage_happiness, age, educ, sex, income16, income, prestg105plus]
Index: []

In [71]:
spouse_prestige = df['spouse_prestige']
prestige = df['prestige']
respondent_prestige = df['respondent_prestige']
income16 = df['income16']
income = df['income']
work_status = df['work_status']
occupation = df['occupation']
workplace_classification = df['workplace_classification']
marital_status = df['marital_status']
divorce = df['divorce']
marriage_type = df['marriage_type']
spouse_occupation = df['spouse_occupation']
marriage_happiness = df['marriage_happiness']
age = df['age']
educ = df['educ']
sex = df['sex']
prestg105plus = df['prestg105plus']
# Updating vars to reflect dropped rows

In [72]:
occupation.value_counts(), '\n'

(secretaries and administrative assistants                                                     2727
 retail salespersons                                                                           1515
 elementary and middle school teachers                                                         1475
 nursing, psychiatric, and home health aides                                                   1386
 driver/sales workers and truck drivers                                                        1324
                                                                                               ...
 animal breeders                                                                                  1
 extruding and forming machine setters, operators, and tenders,  synthetic and glass fibers       1
 signal and track switch repairers                                                                1
 commercial divers                                                                                1
 hunters and trappers                                                                             1
 Name: occupation, Length: 533, dtype: int64,
 '\n')

In [73]:
occupation.unique()

array(['wholesale and retail buyers, except farm products',
       'first-line supervisors of production and operating workers',
       'real estate brokers and sales agents', 'accountants and auditors',
       'telephone operators',
       'sales representatives,  wholesale and manufacturing',
       'pipelayers, plumbers, pipefitters, and steamfitters',
       'order clerks', 'cooks', 'maids and housekeeping cleaners',
       'pressers, textile, garment, and related materials',
       'baggage porters, bellhops, and concierges',
       'couriers and messengers', 'tire builders',
       'court, municipal, and license clerks',
       'secondary school teachers', nan, 'construction managers',
       'locomotive engineers and operators',
       'driver/sales workers and truck drivers',
       'secretaries and administrative assistants',
       'elementary and middle school teachers',
       'packers and packagers, hand', 'retail salespersons',
       'inspectors, testers, sorters, samplers, and weighers',
       'automotive and watercraft service attendants',
       'welding, soldering, and brazing workers',
       'plating and coating machine setters, operators, and tenders, metal  and plastic',
       'registered nurses', 'military, rank not specified',
       'paper goods machine setters, operators, and tenders',
       'farmers, ranchers, and other agricultural managers',
       'postsecondary teachers',
       'crushing, grinding, polishing, mixing, and blending workers',
       'hairdressers, hairstylists, and cosmetologists',
       'public relations specialists', 'carpenters', 'bakers',
       'carpet, floor, and tile installers and finishers',
       'printing press operators',
       'industrial and refractory machinery mechanics', 'tellers',
       'miscellaneous assemblers and fabricators',
       'office clerks, general', 'cutting workers',
       'miscellaneous agricultural workers',
       'production workers, all other', 'sewing machine operators',
       'first-line supervisors of mechanics, installers, and repairers',
       'bookkeeping, accounting, and auditing clerks',
       'word processors and typists',
       'office machine operators, except computer',
       'waiters and waitresses', 'maintenance workers, machinery',
       'drywall installers, ceiling tile installers, and tapers',
       'financial analysts', 'chemical engineers',
       'human resources workers',
       'nursing, psychiatric, and home health aides',
       'military enlisted tactical operations and air/weapons specialists and crew members',
       'financial managers', 'grounds maintenance workers',
       'first-line supervisors of retail sales workers',
       'painting workers',
       'grinding, lapping, polishing, and buffing machine tool setters,  operators, and tenders, metal and plastic',
       'construction laborers', 'artists and related workers',
       'hotel, motel, and resort desk clerks', 'clergy',
       'janitors and building cleaners',
       'cutting, punching, and press machine setters, operators, and tenders, metal and plastic',
       'drafters',
       'electrical and electronics repairers, industrial and utility',
       'electricians', 'stationary engineers and boiler operators',
       'chemical processing machine setters, operators, and tenders',
       'communications  equipment operators, all other',
       "police and sheriff's patrol officers",
       'operating engineers and other construction equipment  operators',
       'office and administrative support workers, all other',
       'electric motor, power tool, and related repairers',
       'computer systems analysts', 'chief executives', 'cashiers',
       'print binding and finishing workers',
       'appraisers and assessors of real estate',
       'first-line supervisors of food preparation and serving workers',
       'laborers and freight, stock, and material movers, hand',
       'other teachers and instructors', 'purchasing managers',
       'producers and directors', 'dental hygienists',
       'education administrators',
       'first-line supervisors of office and administrative support workers',
       'social and human service assistants',
       'customer service representatives', 'machinists',
       'postal service mail carriers', 'laundry and dry-cleaning workers',
       'highway maintenance workers', 'childcare workers',
       'marketing and sales managers', 'industrial production managers',
       'motion picture projectionists',
       'electrical, electronics, and electromechanical assemblers',
       'shoe machine operators and tenders', 'dentists',
       'lodging managers', 'gaming cage workers', 'sheet metal workers',
       'postal service clerks', 'managers, all other', 'firefighters',
       'butchers and other meat, poultry, and fish processing workers',
       'weighers, measurers, checkers, and samplers, recordkeeping',
       'metal workers and plastic workers, all other',
       'shipping, receiving, and traffic clerks',
       'crane and tower operators', 'tool and die makers',
       'writers and authors', 'surveying and mapping technicians',
       'compensation, benefits, and job analysis specialists',
       'structural iron and steel workers',
       'hosts and hostesses, restaurant, lounge, and coffee shop',
       'electrical and electronics engineers',
       'elevator installers and repairers', 'food preparation workers',
       'cleaners of vehicles and equipment',
       'refuse and recyclable material collectors',
       'aircraft structure, surfaces, rigging, and systems assemblers',
       'painters, construction and maintenance', 'insurance sales agents',
       'social and community service managers',
       'industrial truck and tractor operators',
       'textile winding, twisting, and drawing out machine setters, operators,  and tenders',
       'first-line supervisors of construction trades and extraction workers',
       'security guards and gaming surveillance officers',
       'lathe and turning machine tool setters, operators, and tenders, metal and plastic',
       'chemical technicians', 'stock clerks and order fillers',
       'preschool and kindergarten teachers', 'food service managers',
       'bus drivers', 'helpers, construction trades',
       'cement masons, concrete finishers, and terrazzo workers',
       'payroll and timekeeping clerks', 'etchers and engravers',
       'licensed practical and licensed vocational nurses',
       'teacher assistants',
       'automotive service technicians and mechanics',
       'data entry keyers',
       'miscellaneous healthcare support occupations, including medical equipment preparers',
       'file clerks', 'railroad conductors and yardmasters',
       'power plant operators, distributors, and dispatchers',
       'textile knitting and weaving machine setters, operators, and tenders',
       'tailors, dressmakers, and sewers', 'dental assistants',
       'radio and telecommunications equipment installers and repairers',
       'industrial engineers, including health and safety',
       'medical, dental, and ophthalmic laboratory technicians',
       'air traffic controllers and airfield operations specialists',
       'forest and conservation workers', 'roofers',
       'mechanical engineers',
       'railroad brake, signal, and switch operators',
       'interviewers, except eligibility and loan',
       'sawing machine setters, operators, and tenders, wood',
       'property, real estate, and community association managers',
       'computer programmers',
       'counter attendants, cafeteria, food concession, and coffee shop',
       'veterinarians',
       'diagnostic related technologists and technicians',
       'computer operators', 'dispatchers',
       'heating, air conditioning, and refrigeration mechanics and installers',
       'parking lot attendants',
       'production, planning, and expediting clerks',
       'recreation and fitness workers',
       'door-to-door sales workers, news and street vendors, and related workers',
       'engineering technicians, except drafters', 'civil engineers',
       'clinical laboratory technologists and technicians',
       'upholsterers', 'receptionists and information clerks',
       'social workers', 'library assistants, clerical',
       'reservation and transportation ticket agents and travel clerks',
       'counselors', 'logging workers',
       'automotive body and related repairers', 'dishwashers',
       'librarians', 'aircraft mechanics and service technicians',
       'woodworking machine setters, operators, and tenders, except sawing',
       'economists', 'miscellaneous legal support workers',
       'special education teachers',
       'securities, commodities, and financial services sales agents',
       'lawyers',
       'claims adjusters, appraisers, examiners, and investigators',
       'administrative services managers', 'designers',
       'cabinetmakers and bench carpenters',
       'shoe and leather workers and repairers',
       'textile, apparel, and furnishings workers, all other',
       'other education, training, and library workers',
       'compliance officers', 'computer and information systems managers',
       'brickmasons, blockmasons, and stonemasons',
       'insurance claims and policy processing clerks',
       'software developers, applications and systems software',
       'animal trainers', 'editors',
       'combined food preparation and serving workers, including fast food',
       'training and development specialists', 'ship engineers',
       'travel agents', 'aerospace engineers', 'telemarketers',
       'sailors and marine oilers',
       'cleaning, washing, and metal pickling equipment operators and tenders',
       'graders and sorters, agricultural products',
       'mail clerks and mail machine operators, except postal service',
       'metal furnace operators, tenders, pourers, and casters',
       'tank car, truck, and ship loaders',
       'dining room and cafeteria attendants and bartender helpers',
       'heavy vehicle and mobile equipment service technicians and mechanics',
       'meter readers, utilities',
       'packaging and filling machine operators and tenders',
       'architects, except naval',
       'sales representatives, services, all other',
       'general and operations managers',
       'first-line supervisors of non-retail sales workers',
       'postmasters and mail superintendents',
       'transportation, storage, and distribution managers',
       'machine feeders and offbearers',
       'miscellaneous life, physical, and social science technicians',
       'bartenders', 'medical and health services managers',
       'television, video, and motion picture camera operators and',
       'models, demonstrators, and product promoters',
       'bus and truck mechanics and diesel engine specialists',
       'billing and posting clerks',
       'switchboard operators, including answering service',
       'maintenance and repair workers, general', 'flight attendants',
       'actors', 'bill and account collectors',
       'miscellaneous community and social service specialists,',
       'public relations and fundraising managers',
       'eligibility interviewers, government programs',
       'physicians and surgeons', 'psychologists',
       'postal service mail sorters, processors, and processing  machine operators',
       'drilling and boring machine tool setters, operators, and tenders,  metal and plastic',
       'operators, and tenders furnace, kiln, oven, drier, and kettle operators and tenders',
       'personal care aides', 'personal financial advisors',
       'taxi drivers and chauffeurs', 'other extraction workers',
       'first-line supervisors of personal service workers',
       'chefs and head cooks', 'architectural and engineering managers',
       'engine and other machine assemblers',
       'sales and related workers, all other',
       'agents and business managers of artists, performers,',
       'layout workers, metal and plastic', 'human resources managers',
       'first-line supervisors of protective service workers, all other',
       'musicians, singers, and related workers',
       'purchasing agents, except wholesale, retail, and farm products',
       'dancers and choreographers',
       'credit authorizers, checkers, and clerks',
       'statistical assistants',
       'telecommunications  line installers and repairers',
       'prepress technicians and workers',
       'extruding, forming, pressing, and compacting machine setters,',
       'mining machine operators', 'nonfarm animal caretakers',
       'marine engineers and naval architects',
       'helpers-installation,  maintenance, and repair workers',
       'computer support specialists', 'environmental engineers',
       'transportation inspectors',
       'rail-track laying and maintenance equipment operators',
       'precision instrument and equipment repairers',
       'insurance underwriters',
       'broadcast and sound engineering technicians and radio',
       'proofreaders and copy markers',
       'photographic process workers and processing machine operators',
       'food servers, nonrestaurant', 'home appliance repairers',
       'advertising and promotions managers',
       'material moving workers, all other', 'pumping station operators',
       'milling and planing machine setters, operators, and tenders, metal  and plastic',
       'military officer special and tactical operations leaders',
       'crossing guards', 'environmental scientists and geoscientists',
       'podiatrists', 'library technicians',
       'food and tobacco roasting, baking, and drying machine operators and tenders',
       'food batchmakers', 'engineers, all other',
       'first-line supervisors of farming, fishing, and forestry workers',
       'bridge and lock tenders', 'medical assistants',
       'financial clerks, all other',
       'first-line supervisors of correctional officers',
       'electronic equipment installers and repairers, motor vehicles',
       'ship and boat captains and operators', 'millwrights',
       'counter and rental clerks',
       'miscellaneous plant and system operators',
       'computer, automated teller, and office machine repairers',
       'tool grinders, filers, and sharpeners',
       'business operations specialists, all other',
       'miscellaneous health technologists and technicians',
       'religious workers, all other',
       'supervisors of transportation and material moving workers',
       'bailiffs, correctional officers, and jailers',
       'water and wastewater treatment plant and system operators',
       'physical therapist assistants and aides',
       'miscellaneous entertainment attendants and related workers',
       'molders and molding machine setters, operators, and tenders, metal and plastic',
       'mining and geological engineers, including mining safety engineers',
       'speech-language  pathologists',
       'textile cutting machine setters, operators, and tenders',
       'procurement clerks',
       'derrick, rotary drill, and service unit operators, oil, gas, and mining',
       'animal control workers',
       'electronic home entertainment equipment installers and repairers',
       'dredge, excavating, and loading machine operators',
       'food processing workers, all other', 'optometrists',
       'chemists and materials scientists', 'management analysts',
       'credit counselors and loan officers',
       'dietitians and nutritionists',
       'first-line supervisors of housekeeping and janitorial workers',
       'parking enforcement workers',
       'first-line enlisted military supervisors', 'cost estimators',
       'surveyors, cartographers, and photogrammetrists',
       'physical therapists', 'gaming services workers',
       'computer occupations, all other',
       'embalmers and funeral attendants', 'phlebotomists',
       'tax examiners and collectors, and revenue agents',
       'helpers-production workers',
       'electrical power-line installers and repairers',
       'petroleum engineers', 'photographers',
       'judges, magistrates, and other judicial workers',
       'other installation, maintenance, and repair workers',
       'septic tank servicers and sewer pipe cleaners',
       'other transportation workers', 'actuaries', 'budget analysts',
       'human resources assistants, except payroll and timekeeping',
       'training and development managers',
       'first-line supervisors of landscaping, lawn service, and groundskeeping workers',
       'adhesive bonding machine operators and tenders',
       'helpers-extraction workers', 'mine shuttle car operators',
       'news analysts, reporters and correspondents',
       'roof bolters, mining',
       'molders, shapers, and casters, except metal and plastic',
       'credit analysts', 'mathematicians', 'pharmacists',
       'nuclear engineers', 'computer hardware engineers',
       'jewelers and precious stone and metal workers',
       'agricultural and food science technicians', 'furniture finishers',
       'explosives workers, ordnance handling experts, and blasters',
       'geological and petroleum technicians',
       'ambulance drivers and attendants, except emergency medical  technicians',
       'entertainers and performers, sports and related workers, all other',
       'barbers', 'boilermakers', 'hoist and winch operators',
       'reinforcing iron and rebar workers',
       'health practitioner support technologists and technicians',
       'insulation workers',
       'archivists, curators, and museum technicians', 'legislators',
       'athletes, coaches, umpires, and related workers',
       'miscellaneous social scientists and related workers',
       'pest control workers',
       'model makers and patternmakers, metal and plastic',
       'advertising sales agents', 'respiratory therapists',
       'coin, vending, and amusement machine servicers and repairers',
       'parts salespersons',
       'transportation attendants, except flight attendants',
       'other healthcare practitioners and technical occupations',
       'biological scientists',
       'information and record clerks, all other', 'pharmacy aides',
       'statisticians', 'fishers and related fishing workers',
       'fire inspectors', 'roustabouts, oil and gas',
       'miscellaneous vehicle and mobile equipment mechanics, installers, and repairers',
       'subway, streetcar, and other rail transportation workers',
       'food cooking machine operators and tenders',
       'urban and regional planners',
       'private detectives and investigators', 'sociologists',
       'nurse anesthetists', 'atmospheric and space scientists',
       'announcers',
       'rolling machine setters, operators, and tenders, metal and plastic',
       'plasterers and stucco masons', 'funeral service managers',
       'aircraft pilots and flight engineers',
       'ushers, lobby attendants, and ticket takers',
       'construction and building inspectors',
       'control and valve installers and repairers',
       'medical records and health information technicians',
       'tax preparers', 'woodworkers, all other',
       'market research analysts and marketing specialists',
       'opticians, dispensing', 'earth drillers, except oil and gas',
       'agricultural and food scientists', 'fish and game wardens',
       'extruding and drawing machine setters, operators, and tenders,  metal and plastic',
       'textile bleaching and dyeing machine operators and tenders',
       'miscellaneous media and communication  workers',
       'structural metal fabricators and fitters',
       'morticians, undertakers, and funeral directors',
       'sales engineers',
       'first-line supervisors of fire fighting and prevention workers',
       'detectives and criminal investigators',

In the codebook, since the missing values for "hapmar" can be largely attributed to "not applicable" instead of "no answer" or "skipped on web," we decided that it was valid to drop all of the rows that had NaN for this.

In [74]:
len(df_prestige_hapmar['occupation'].unique())

522

In [75]:
workplace_classification.value_counts(), '\n'

(other (agriculture, construction, service, government, etc.)    1612
 retail trade                                                     283
 manufacturing                                                    228
 wholesale trade                                                   62
 Name: workplace_classification, dtype: int64,
 '\n')

In [76]:
marital_status.value_counts(), '\n'

(married          37590
 never married    15910
 divorced          9642
 widowed           6756
 separated         2441
 Name: marital_status, dtype: int64,
 '\n')

In [77]:
divorce.value_counts(), '\n'

(no     34738
 yes     9366
 Name: divorce, dtype: int64,
 '\n')

In [78]:
marriage_type.value_counts(), '\n'

(marriage between a man and a woman                4999
 not sure                                            39
 marriage between two people of the same gender      36
 Name: marriage_type, dtype: int64,
 '\n')

In [79]:
spouse_occupation.value_counts(), '\n'

(secretaries and administrative assistants                                          1389
 driver/sales workers and truck drivers                                              915
 elementary and middle school teachers                                               822
 retail salespersons                                                                 774
 first-line supervisors of retail sales workers                                      747
                                                                                    ...
 multiple machine tool setters, operators, and tenders, metal and plastic              1
 hoist and winch operators                                                             1
 other transportation workers                                                          1
 milling and planing machine setters, operators, and tenders, metal  and plastic       1
 agricultural engineers                                                                1
 Name: spouse_occupation, Length: 532, dtype: int64,
 '\n')

In [80]:
marriage_happiness.value_counts(), '\n'

(very happy       21427
 pretty happy     11506
 not too happy     1066
 Name: marriage_happiness, dtype: int64,
 '\n')

In [81]:
sex.value_counts(), '\n'

(female    40301
 male      31977
 Name: sex, dtype: int64,
 '\n')

In [82]:
income16.value_counts(), '\n'

($60,000 to $74,999      1144
 $170,000 or over        1037
 $75,000 to $89,999       935
 $90,000 to $109,999      899
 $50,000 to $59,999       886
 $40,000 to $49,999       854
 $110,000 to $129,999     630
 $30,000 to $34,999       564
 $35,000 to $39,999       515
 $130,000 to $149,999     464
 $25,000 to $29,999       455
 $150,000 to $169,999     370
 $10,000 to $12,499       349
 $22,500 to $24,999       347
 $20,000 to $22,499       332
 $12,500 to $14,999       304
 $15,000 to $17,499       247
 $17,500 to $19,999       219
 $8,000 to $9,999         183
 under $1,000             172
 $1,000 to $2,999         145
 $3,000 to $3,999          80
 $7,000 to $7,999          70
 $5,000 to $5,999          67
 $6,000 to $6,999          50
 $4,000 to $4,999          49
 Name: income16, dtype: int64,
 '\n')

In [83]:
income.value_counts(), '\n'

($25,000 or more       34785
 $10,000 to $14,999     6850
 $20,000 to $24,999     5528
 $15,000 to $19,999     5301
 $8,000 to $9,999       2285
 $1,000 to $2,999       1412
 $7,000 to $7,999       1315
 $5,000 to $5,999       1314
 $3,000 to $3,999       1309
 $6,000 to $6,999       1249
 $4,000 to $4,999       1189
 under $1,000            902
 Name: income, dtype: int64,
 '\n')

**Cleaning income**
- Making a copy of income with numerical values for data visualization and analysis purposes. Rounding each income category to its highest bound (e.g. 10,000-14,999 --> 14999)

In [84]:
income_numeric = income.copy()
income_numeric = income_numeric.replace({"$25,000 or more": 25000,
                                         "$10,000 to $14,999": 12500,
                                         "$20,000 to $24,999": 22500,
                                         "$15,000 to $19,999": 17500,
                                         "$8,000 to $9,999": 9000,
                                         "$1,000 to $2,999": 2000,
                                         "$7,000 to $7,999": 7500,
                                         "$5,000 to $5,999": 5500,
                                         "$3,000 to $3,999": 3500,
                                         "$6,000 to $6,999": 6500,
                                         "$4,000 to $4,999": 4500,
                                         "under $1,000": 1000})
# There's a weird distribution of the values. Correcting it:
# Note: Kelsey did this by assigning each numeric value to its closest value of 25,000 in increments of 2500.
# For example, 4500 --> 5000.

In [85]:
income_numeric.value_counts()

25000.0    34785
12500.0     6850
22500.0     5528
17500.0     5301
9000.0      2285
2000.0      1412
7500.0      1315
5500.0      1314
3500.0      1309
6500.0      1249
4500.0      1189
1000.0       902
Name: income, dtype: int64

In [86]:
df['income'] = income_numeric

In [87]:
df_prestige_hapmar = df.copy()
df_prestige_hapmar

,work_status,occupation,prestige,workplace_classification,marital_status,divorce,marriage_type,spouse_prestige,respondent_prestige,spouse_occupation,marriage_happiness,age,educ,sex,income16,income,prestg105plus
0,working full time,"wholesale and retail buyers, except farm products",50.0,NaN,never married,NaN,NaN,NaN,45.0,NaN,NaN,23.0,16.0,female,NaN,NaN,49.0
1,retired,first-line supervisors of production and opera...,45.0,NaN,married,no,NaN,NaN,50.0,NaN,NaN,70.0,10.0,male,NaN,NaN,62.0
2,working part time,real estate brokers and sales agents,44.0,NaN,married,no,NaN,41.0,49.0,"property, real estate, and community associati...",NaN,48.0,12.0,female,NaN,NaN,69.0
3,working full time,accountants and auditors,57.0,NaN,married,no,NaN,39.0,60.0,"tax examiners and collectors, and revenue agents",NaN,27.0,17.0,female,NaN,NaN,85.0
4,keeping house,telephone operators,40.0,NaN,married,no,NaN,38.0,31.0,"rolling machine setters, operators, and tender...",NaN,61.0,12.0,female,NaN,NaN,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72387,working full time,"hotel, motel, and resort desk clerks",NaN,"other (agriculture, construction, service, gov...",never married,NaN,NaN,NaN,30.0,NaN,NaN,22.0,12.0,female,"$25,000 to $29,999",25000.0,NaN
72388,working full time,elementary and middle school teachers,NaN,"other (agriculture, construction, service, gov...",married,yes,NaN,60.0,61.0,police and sheriff's patrol officers,very happy,29.0,19.0,female,"$60,000 to $74,999",25000.0,NaN
72389,working full time,respiratory therapists,NaN,"other (agriculture, construction, service, gov...",never married,NaN,NaN,64.0,62.0,NaN,NaN,32.0,15.0,male,"$130,000 to $149,999",25000.0,NaN
72390,working full time,elementary and middle school teachers,NaN,"other (agriculture, construction, service, gov...",married,no,marriage between a man and a woman,65.0,61.0,civil engineers,very happy,49.0,17.0,female,"$150,000 to $169,999",25000.0,NaN
72391,working full time,forest and conservation workers,NaN,"other (agriculture, construction, service, gov...",married,no,marriage between a man and a woman,38.0,42.0,other teachers and instructors,pretty happy,50.0,20.0,male,"$90,000 to $109,999",25000.0,NaN

In [91]:
# Check for NaN overlaps
both_nan = df_prestige_hapmar[df_prestige_hapmar['respondent_prestige'].isna() & df_prestige_hapmar['prestg105plus'].isna()]
respondent_prestige_nan_prestg105plus_not = df_prestige_hapmar[df_prestige_hapmar['respondent_prestige'].isna() & df_prestige_hapmar['prestg105plus'].notna()]
prestg105plus_nan_respondent_prestige_not = df_prestige_hapmar[df_prestige_hapmar['prestg105plus'].isna() & df_prestige_hapmar['respondent_prestige'].notna()]

# Output the counts
print(f"Rows where both variables are NaN: {len(both_nan)}")
print(f"Rows where 'respondent_prestige' is NaN and 'prestg105plus' is not: {len(respondent_prestige_nan_prestg105plus_not)}")
print(f"Rows where 'prestg105plus' is NaN and 'respondent_prestige' is not: {len(prestg105plus_nan_respondent_prestige_not)}")

# Combining the variables

# Example of combining:
df['combined_var'] = df['respondent_prestige'].combine_first(df['prestg105plus'])

# This new column 'combined_var' will have 'respondent_prestige' values where available; otherwise, it'll use 'prestg105plus' values.

Rows where both variables are NaN: 0
Rows where 'respondent_prestige' is NaN and 'prestg105plus' is not: 0
Rows where 'prestg105plus' is NaN and 'respondent_prestige' is not: 3142

In [89]:
df_prestige_hapmar.dropna(subset=['respondent_prestige', 'marriage_happiness', 'marital_status', 'spouse_prestige'], inplace=True)
df_prestige_hapmar
# This is a df with only rows that have respondent_prestige, marriage_happiness, and marital_status values

,work_status,occupation,prestige,workplace_classification,marital_status,divorce,marriage_type,spouse_prestige,respondent_prestige,spouse_occupation,marriage_happiness,age,educ,sex,income16,income,prestg105plus
1613,working full time,"tailors, dressmakers, and sewers",41.0,NaN,married,no,NaN,32.0,42.0,sewing machine operators,very happy,54.0,6.0,male,NaN,12500.0,46.0
1614,keeping house,"grinding, lapping, polishing, and buffing mach...",32.0,NaN,married,no,NaN,48.0,28.0,first-line supervisors of non-retail sales wor...,very happy,51.0,8.0,female,NaN,7500.0,19.0
1615,working full time,"inspectors, testers, sorters, samplers, and we...",27.0,NaN,married,no,NaN,35.0,39.0,"painters, construction and maintenance",very happy,36.0,11.0,female,NaN,12500.0,38.0
1616,working full time,stock clerks and order fillers,23.0,NaN,married,no,NaN,29.0,25.0,print binding and finishing workers,very happy,32.0,12.0,male,NaN,12500.0,12.0
1619,keeping house,"bookkeeping, accounting, and auditing clerks",48.0,NaN,married,no,NaN,36.0,45.0,barbers,very happy,31.0,8.0,female,NaN,4500.0,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72382,retired,automotive service technicians and mechanics,NaN,NaN,married,no,NaN,38.0,45.0,insurance claims and policy processing clerks,very happy,69.0,14.0,male,"$90,000 to $109,999",25000.0,NaN
72383,retired,elementary and middle school teachers,NaN,NaN,married,yes,NaN,61.0,61.0,elementary and middle school teachers,very happy,66.0,17.0,male,"$40,000 to $49,999",25000.0,NaN
72388,working full time,elementary and middle school teachers,NaN,"other (agriculture, construction, service, gov...",married,yes,NaN,60.0,61.0,police and sheriff's patrol officers,very happy,29.0,19.0,female,"$60,000 to $74,999",25000.0,NaN
72390,working full time,elementary and middle school teachers,NaN,"other (agriculture, construction, service, gov...",married,no,marriage between a man and a woman,65.0,61.0,civil engineers,very happy,49.0,17.0,female,"$150,000 to $169,999",25000.0,NaN
72391,working full time,forest and conservation workers,NaN,"other (agriculture, construction, service, gov...",married,no,marriage between a man and a woman,38.0,42.0,other teachers and instructors,pretty happy,50.0,20.0,male,"$90,000 to $109,999",25000.0,NaN

<font size="5">**WRANGLING DOCUMENTATION**</font>

Write notes about steps taken to wrangle the data here:

1. DtypeWarning -- several columns have mixed types, and all columns are objects, which should not be the case -- changed numerical data columns to float64 dtypes

2. Bad column names -- changed column names for clarity wherever possible

3. 2 columns just had column names for every value -- threw these out

4. In the codebook, since the missing values for "hapmar" can be largely attributed to "not applicable" instead of "no answer" or "skipped on web," we decided that it was valid to drop all of the rows that had NaN for this.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
df.to_csv('/content/drive/My Drive/4th Year/IntroML/cleaned_gss.csv')

Mounted at /content/drive